
  <% unless @current_user %>
    <h1>概要</h1>
    <ul class="overview">
        <li>タグ付けに特化してます</li>
        <li>プライベートな画像保管庫です</li>
        <li>あなたが許可したユーザーにだけ画像を公開できます</li>
    </ul>
    <div>
      <%= link_to "登録",signup_path,class:"button" %> 
    </div>

    <h1>デモ</h1>
    <div class="container_demo_all">
      <div class="container_demo">
        <div>タグを<br>グループ分け<br>できます</div>
        <%= image_tag "demo1.gif" %>
      </div>
      <div class="container_demo">
        <div>タグを<br>簡単に<br>編集できます</div>
        <%= image_tag "demo2.gif" %>
      </div>
      <div class="container_demo">
        <div>一括で<br>タグ付けが<br>できます</div>
        <%= image_tag "demo3.gif" %>
      </div>
      <div class="container_demo">
        <div>許可ユーザー<br>のみ<br>閲覧できます</div>
        <%= image_tag "demo4.gif" %>
      </div>
    </div>

    <div>
      <%= link_to "登録",signup_path,class:"button" %> 
    </div>
    
  <% else %>


  
  
  
  
  
    <% @menu_items = [
      {
        title: "your photo",
        path: yourphoto_path,
        fa_class: "fa-regular fa-image",
        text: "あなたがアップロードした写真を閲覧できます。冒頭に、写真に付けられたタグの一覧が表示されます。",
      },
      {
        title: "shared photo",
        path: sharedphoto_path,
        fa_class: "fa-solid fa-image",
        text: "あなたを許可したユーザーの写真を閲覧できます。こちらも冒頭にタグ一覧が表示されます。",
      },
      {
        title: "upload",
        path: upload_path,
        fa_class: "fa-solid fa-square-plus",
        text: "写真をアップロードできます。同時にタグやコメントも付けられます。なお、複数の写真をまとめてアップできます。",
      },
      {
        title: "edit tag",
        path: edittag_path,
        fa_class: "fa-solid fa-tags",
        text: "タグの追加、修正、削除ができます。タグはグループ別に分類可能です。グループもタグ同様、自由に作れます。",
      },
      {
        title: "tag to photo",
        path: tagto_path,
        fa_class: "fa-solid fa-tags",
        text: "アップロードした写真に対して、一括で、直感的な操作にてタグの修正ができます。",
      },
      {
        title: "setting",
        path: setting_path,
        fa_class: "fa-solid fa-gear",
        text: "ユーザー名等の変更や、あなたの写真を閲覧できるユーザーの設定ができます。また、秘密メモ(遺言的なメモ)の設定や、その閲覧ユーザー設定もできます。",
      },
    ] %>
 
    <div class="container_description_all">

      <% @menu_items.each_with_index do |item,i| %>
        <div class="container_description menu<%= i+1 %>">

          <div class="container_link_and_text">
            <div class="link">
              <%= link_to item[:path] do %>
                <i class="<%= item[:fa_class] %>"></i><span><%= item[:title] %><span>
              <% end %>
            </div>
            <div class="text"><%= item[:text] %></div>
          </div>
          
          <div class="image">
            <%= image_tag "description#{i+1}.png" %>
          </div>
          
        </div>
      <% end %>
      
    </div>

    
        
        
        

  <% end %>
