<%= form_with(model: user,data: { turbo: false }) do |form| %>
    <div class="container_secret_message">
        <div>
            <%= form.label :secret_message,"秘密メモ" %>
            <%= form.text_area :secret_message %>
        </div>
        <div>
            <%= form.label :password %>
            <%= form.password_field :password %>
        </div>
        <div>
            <%= form.submit(class:"table_submit") %>
        </div>
    </div>
<% end %>
