<% if @user.errors.any? %>
  <div>
    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>新規登録</h1>

<div class="container_simple_form">

  <%= form_with(model: @user, url: signup_path) do |form|  %>

    <div>
      <%= form.label :name,"ユーザー名(半角英数とハイフンとアンダーバーのみ使用可能です。20字以内)" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :email,"Eメール" %>
      <%= form.text_field :email %>
    </div>

    <div>
      <%= form.label :password,"パスワード(半角であれば英数記号なんでもOK。255文字以内)" %>
      <%= form.password_field :password %>
    </div>

    <div>
      <%= form.submit "新規登録" %>
    </div>
  <% end %>

</div>
