<%= form_with(model: tag, class: form_type) do |form| %>
  <%= form.text_field :tag, class:"table_tag" %>
  
  <% if tag.group=="" %>
    <%= form.select :group, options_for_select(@taggroups), include_blank: true  %>
  <% else %>
    <%= form.select :group, @taggroups, include_blank: true  %>
  <% end %>
  
  <%= form.text_field :sort_order, class:"table_sort_order" %>
  <%= form.submit(class:"table_submit") %>
<% end %>

<% if tag.errors.any? %>
  <div class="container_error">
    <ul>
      <% tag.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

