<h1>フィルター</h1>
<%= search_form_for @search do |f| %>
  <div>
    <%= f.label :tag_cont, "タグ" %>
    <%= f.search_field :tag_cont %>
  </div>
  <div>
    <%= f.label :group_cont, "グループ" %>
    <%= f.search_field  :group_cont %>
  </div>
  <%= f.submit "検索" ,class:"search_button" %>
  <%= link_to "クリア", edittag_path, class:"search_button" %>
<% end %>



<%= turbo_frame_tag "cats-list" do %>

  <div id="tags">
    <h1>追加</h1>
    <div class="table_forms">
      <div class="table_tag">タグ(必須)</div>
      <div class="table_group">グループ</div>
      <div class="table_sort_order">並び</div>
    </div>
    
    <div class="table_forms">
      <%= render "form", tag: @tag %>
    </div>

    <%= link_to "グループ追加・編集", taggroups_path, data: { turbo: false }, class:"search_button" %>
    
    
  
    <h1>編集 (ボタンで並び替え)</h1>
    <div class="table_forms">
      <div class="table_tag"><%= sort_link(@search, :tag,"タグ") %></div>
      <div class="table_group"><%= sort_link(@search, :group,"グループ") %></div>
      <div class="table_sort_order"><%= sort_link(@search, :sort_order,"並び") %></div>
    </div>
    
    <% @tags.each do |tag| %>
    <div class="table_forms">
        <%= render "form", tag: tag %>
        <%= button_to "削除", tag, method: :delete, class:"table_delete" %>
    </div>
    
    
    
    <% end %>
  </div>
<% end %>

