<p style="color: green"><%= notice %></p>

<h1>Tags</h1>

<%= search_form_for @search do |f| %>
  <%= f.label :tag_cont, "タグ" %>
  <%= f.search_field :tag_cont %>

  <%= f.label :group_cont, "タググループ" %>
  <%= f.search_field :group_cont %>

  <%= f.submit %>
  <%= link_to "クリア", tags_path %>
<% end %>

<div id="tags">
  <% @tags.each do |tag| %>
    <%= render tag %>
    <p>
      <%= link_to "Show this tag", tag %>
    </p>
  <% end %>
</div>

<%= paginate @tags %>

<%= link_to "New tag", new_tag_path %>