<div id="<%= dom_id @tag %>">
  <p>
    <strong>タグ:</strong>
    <%= @tag.tag %>
  </p>

  <p>
    <strong>タググループ:</strong>
    <%= @tag.group %>
  </p>
</div>

<div>
  <%= link_to "Edit this tag", edit_tag_path(@tag) %> |
  <%= link_to "Back to tags", tags_path %>

  <%= button_to "Destroy this tag", @tag, method: :delete %>
</div>
