<%= form_with(model: taggroup) do |form| %>
  <% if taggroup.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(taggroup.errors.count, "error") %> prohibited this tag from being saved:</h2>
      <ul>
        <% taggroup.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :group, class:"table_group" %>
  <%= form.text_field  :sort_order, class:"table_number" %>
  <%= form.submit(class:"table_submit") %>
<% end %>

