<% provide(:title, "タググループ編集") %>

<%= link_to "タグ編集に戻る", edittag_path, class:"search_button" %>

<%= turbo_frame_tag "taggroups-list" do %>

  <div id="table_container">
    <h1>追加</h1>
    <div class="table_forms">
      <div class="table_group">グループ</div>
      <div class="table_sort_order">並び</div>
    </div>
    
    <div class="table_forms">
      <%= render "form", taggroup: @taggroup %>
    </div>

    
    
  
    <h1>編集 (ボタンで並び替え)</h1>
    <div class="table_forms">
      <div class="table_group"><%= sort_link(@search, :group,"グループ") %></div>
      <div class="table_sort_order"><%= sort_link(@search, :sort_order,"並び") %></div>
    </div>
    
    <% @taggroups.each do |taggroup| %>
    <div class="table_forms">
        <%= render "form", taggroup: taggroup %>
        <%= button_to "削除", taggroup, method: :delete, class:"table_delete" %>
    </div>
    
    
    
    <% end %>
  </div>
<% end %>

