    <%= form_with(model: @post) do |form| %>
    
      <div>
        <%= form.label :images,"写真" %>
        <%= form.file_field :images, { multiple: @multiple_images } %>
        <%= form.label :use_fill,"自動で正方形にトリミング" %>
        <%= form.check_box :use_fill %>
      </div>
    
      <table class="tag_index_container">
          <tr>
              <th class="tag_index_group">グループ</th>
              <th class="tag_index_tag">タグ</th>
          </tr>

          <% @taggroups.each do |taggroup| %>
              <tr>
                  <td class="tag_index_group">
                      <%= taggroup.group %>
                  </td>

                  <td class="tag_index_tag">
                      <% @tags.where(group_number:taggroup.number).each do |tag| %>
                        <input type="button" value="<%= tag.tag %>" class="tag">
                      <% end %>
                  </td>
              </tr>
          <% end %>
          <tr>
              <td class="tag_index_group">
                  なし
              </td>

              <td class="tag_index_tag">
                  <% @tags.where(group_number:"").each do |tag| %>
                    <input type="button" value="<%= tag.tag %>" class="tag">
                  <% end %>
              </td>
          </tr>
      </table>

      <div>
        <%= form.text_area :tag %>
      </div>

      <div>
        <%= form.label :comment,"コメント" %>
        <%= form.text_area :comment %>
      </div>

      <div>
        <%= form.submit class:"button_submit" %>
      </div>
    <% end %>



