<% provide(:title, "#{@user.name}(PhotoID:#{@post.id})") %>

<%= link_to "戻る", :back, class:"search_button" %>

<div class="container_flex">

  <div class="container_photo">
    <% if @post.images.attached? %>
      <%= link_to @post.images[0] do %>
        <%= image_tag @post.images[0] %>
      <% end %>
    <% end %>
  </div>

  <div class="container_form">

  <table id="tag_index_container">
      <tr>
          <th class="tag_index_group">グループ</th>
          <th class="tag_index_tag">タグ</th>
      </tr>

      <% @taggroups.each do |taggroup| %>
          <tr>
              <td class="tag_index_group">
                  <%= taggroup.group %>
              </td>

              <td class="tag_index_tag">
                  <% @tags_included_in_model.where(group:taggroup.id.to_s).each do |tag| %>
                      <%= link_to "#{tag.tag}", "/photo/#{@user.name}/tag/#{tag.tag}", class:"tag_button" %>
                  <% end %>
              </td>
          </tr>
      <% end %>

      <tr>
          <td class="tag_index_group">
              なし
          </td>

          <td class="tag_index_tag">
              <% @tags_included_in_model.where(group:"").each do |tag| %>
                  <%= link_to "#{tag.tag}", "/photo/#{@user.name}/tag/#{tag.tag}", class:"tag_button" %>
              <% end %>
          </td>
      </tr>

      <tr>
          <td class="tag_index_group">
              未登録 
          </td>

          <td class="tag_index_tag">
              <% @tags_not_included_in_model.each do |tag| %>
                  <%= link_to "#{tag}", "/photo/#{@user.name}/tag/#{tag}", class:"tag_button" %>
              <% end %>
          </td>
      </tr>

  </table>


      <div>コメント</div>
      <div><%= @post.comment %></div>

    
  </div>

</div>

