<% provide(:title, "#{@user.name}") %>

<%= link_to "許可したユーザーの一覧に戻る", sharedphoto_path, class:"search_button" %>


<% if @approved_user.authenticated == true %>


  <h1><%= @user.name %>のタグ</h1>

  <table id="tag_index_container">
      <tr>
          <th class="tag_index_group">グループ</th>
          <th class="tag_index_tag">タグ</th>
      </tr>

      <% @taggroups.each do |taggroup| %>
          <tr>
              <td class="tag_index_group">
                  <%= taggroup.group %>
              </td>

              <td class="tag_index_tag">
                  <% @tags_included_in_model.where(group:taggroup.id.to_s).each do |tag| %>
                      <%= link_to "#{tag.tag}", "./tag/#{tag.tag}/", class:"tag_button" %>
                  <% end %>
              </td>
          </tr>
      <% end %>

      <tr>
          <td class="tag_index_group">
              なし
          </td>

          <td class="tag_index_tag">
              <% @tags_included_in_model.where(group:"").each do |tag| %>
                  <%= link_to "#{tag.tag}", "./tag/#{tag.tag}/", class:"tag_button" %>
              <% end %>
          </td>
      </tr>

      <tr>
          <td class="tag_index_group">
              未登録 
          </td>

          <td class="tag_index_tag">
              <% @tags_not_included_in_model.each do |tag| %>
                  <%= link_to "#{tag}", "./tag/#{tag}/", class:"tag_button" %>
              <% end %>
          </td>
      </tr>

  </table>

  <div>
      <%= link_to "タグなし", approved_nothing_tag_path , class:"tag_button" %>
  </div>

  <h1><%= @user.name %>の写真(最新3件)</h1>
  <div id="photo_index_container">
      <% @posts.each do |post| %>
        <div id="<%= dom_id post %>" class="container_images">
            <% if post.images.attached? %>
                <%= link_to "./all/#{post.id}" do %>
                    <%= image_tag post.images[0].variant(:thumb).processed.url %>
                <% end %>
            <% end %>
        </div>
      <% end %>
  </div>

  <div>
      <%= link_to "すべて見る", approved_photo_all_path %>
  </div>

  
  
    <% if @approved_user.secret_message_access == true %>
        <h1><%= @user.name %>の秘密メモ</h1>
        <div class="container_secret_message_in_setting">
            <details>
                <summary>内容を見る</summary>
                <%= simple_format(@user.secret_message) %>
            </details>
        </div>  
        
    <% end %>

<% else %>

  <h1><%= @user.name %></h1>

  <div>合言葉を入力してください。</div>
  <div class="table_forms">
    <%= form_with scope: :secret_phrase, url: authenticated_path do |form| %>
      <%= form.hidden_field :user_id, value: @user.id %>
      <%= form.text_field :password, class:"table_user_name" %>
      <%= form.submit "送信", class:"table_submit" %>
    <% end %>
  </div>

<% end %>

