<% provide(:title, "PhotoID:#{@post.id}") %>

<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= javascript_import_module_tag "editTag" %>
  <%= javascript_import_module_tag "swipe" %>
<% end %>

<div>
  <%= link_to "一覧に戻る", "./" , class:"search_button" %>
  <div class="container_recent_photo">
    <% if @recent_photo_post %>
      <%= link_to "./#{@recent_photo_post.id}", class:"recent_photo" do %>
        <i class="fa-solid fa-right-long fa-flip-horizontal"></i>
        <span>new</span>
      <% end %>
    <% end %>
  </div>
  <div class="container_old_photo">
    <% if @old_photo_post %>
      <%= link_to "./#{@old_photo_post.id}", class:"old_photo" do %>
        <span>old</span>
        <i class="fa-solid fa-right-long"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  画像の左右スワイプにて前後移動が可能
</div>

<div class="container_flex">

  <div class="container_photo">
    <% if @post.images.attached? %>
      <%= link_to @post.images[0] do %>
        <%= image_tag @post.images[0] , class: "image_touch" %>
      <% end %>
    <% end %>
  </div>

  <div class="container_form">
    <%= render "form", post: @post, multiple_images: @multiple_images %>
  </div>

</div>


<div class="container_delete">
  <%= button_to "削除", @post, method: :delete, class:"button_clear",data: { turbo_confirm: "本当に削除しますか？" } %>
</div>
    