<% provide(:title, "PhotoID:#{@post.id}") %>

<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= javascript_import_module_tag "editTag" %>
  <%= javascript_import_module_tag "swipe" %>
<% end %>

<div class="container_post_navi">
  <% if @back_url %>
    <%= link_to "検索結果に戻る", "#{@back_url}" , class:"button button_link" %>
  <% else %>
    <%= link_to "一覧に戻る", "./" , class:"button button_link" %>
  <% end %>
  
  <div>
    <% if @recent_photo_post %>
      <% link_text = content_tag(:i, "", class: "fa-solid fa-right-long fa-flip-horizontal") + content_tag(:span, "new") %>
      <% url = @back_url ? "#{@back_url}&id=#{@recent_photo_post.id}" : "./#{@recent_photo_post.id}" %>
      <%= link_to url, class: "recent_photo" do %>
        <%= link_text %>
      <% end %>
    <% end %>
  </div>

  <div>
    <% if @old_photo_post %>
      <% link_text = content_tag(:i, "", class: "fa-solid fa-right-long") + content_tag(:span, "old") %>
      <% url = @back_url ? "#{@back_url}&id=#{@old_photo_post.id}" : "./#{@old_photo_post.id}" %>
      <%= link_to url, class: "old_photo" do %>
        <%= link_text %>
      <% end %>
    <% end %>
  </div>

</div>

<div>
  画像の左右スワイプにて前後移動が可能
</div>

<div class="container_flex">

  <div class="container_photo">
    <% if @post.images.attached? %>
      <%= link_to @post.images[0] do %>
        <%= image_tag @post.images[0] , class: "image_touch" %>
      <% end %>
    <% end %>
  </div>

  <div class="container_form">
    <%= render "form", post: @post, multiple_images: @multiple_images %>
  </div>

</div>


<div class="container_delete">
  <%= button_to "削除", @post, method: :delete, class:"button_clear",data: { turbo_confirm: "本当に削除しますか？" } %>
</div>
    