<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= javascript_import_module_tag "editTag" %>
<% end %>

<%= link_to "戻る", :back, class:"search_button" %>

<div class="container_all">

  <div class="container_photo">
    <% if @post.images.attached? %>
      <%= link_to @post.images[0] do %>
        <%= image_tag @post.images[0] %>
      <% end %>
    <% end %>
  </div>

  <div class="container_form">
    <%= render "form", post: @post, multiple_images: @multiple_images %>
  </div>

</div>


<div class="container_delete">
  <%= button_to "削除", @post, method: :delete, class:"button_clear" %>
</div>
    