<h1>Editing post</h1>

<%= form_with(model: @post) do |form| %>
  <div>
    <%= form.label :images, style: "display: block" %>
    <%= form.file_field :images %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show", @post %> |
  <%= link_to "Back","/#{@current_user.name}" %>
</div>
