
<p style="color: green"><%= notice %></p>

<script src="/assets/edit_tag.js"></script>
<!-- <% content_for :head do %>
  <%= javascript_import_module_tag "edit_tag" %>
<% end %> -->


<%= form_with(model: @post) do |form| %>
  <div>
    <%= form.label :images %>
    <%= form.file_field :images %>
  </div>

  <div>
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :tag %>
    <% @tags.each do |tag| %>
      <input type="button" id="tag<%= tag.id %>" value="<%= tag.tag %>" name="<%= tag.tag %>" onclick="addTag('tag<%= tag.id %>');">
    <% end %>
    <%= form.text_area :tag %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<div>
  <%= link_to "back","/#{@current_user.name}" %>
</div>

<% if @post.images.attached? %>
  <%= link_to @post.images[0] do %>
    <%= image_tag @post.images[0] %>
  <% end %>
<% end %>



<div>
  <%= link_to "destroy", @post, method: :delete %>
</div>