<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "edit", edit_post_path(@post) %>/
  <%= link_to "back","/#{@current_user.name}" %>/
  <%= link_to "destroy", @post, method: :delete %>
</div>

<% if @post.images.attached? %>
  <%= link_to @post.images[0] do %>
    <%= image_tag @post.images[0] %>
  <% end %>
<% end %>

