<% provide(:title, "一括タグ付け") %>

<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= javascript_import_module_tag "tagToMultipleImage" %>
<% end %>

<h1>一括タグ付け</h1>

<div id="container_input_tag">

  <table class="tag_index_container">
      <tr>
          <th class="tag_index_group">グループ</th>
          <th class="tag_index_tag">タグ</th>
      </tr>

      <% @taggroups.each do |taggroup| %>
          <tr>
              <td class="tag_index_group">
                  <%= taggroup.group %>
              </td>

              <td class="tag_index_tag">
                  <% @tags.where(group_number:taggroup.number).each do |tag| %>
                    <input type="button" value="<%= tag.tag %>" class="tag">
                  <% end %>
              </td>
          </tr>
      <% end %>
      <tr>
          <td class="tag_index_group">
              なし
          </td>

          <td class="tag_index_tag">
              <% @tags.where(group_number:"").each do |tag| %>
                <input type="button" value="<%= tag.tag %>" class="tag">
              <% end %>
          </td>
      </tr>
  </table>

</div>




<button id="clear_input_tag" class="button button_clear">タグ選択・画像選択の解除</button>
<div><%= link_to "リセット", tagto_path, class:"button button_clear" %></div>

<div id="posts">
  <%= form_with url:create_multiple_posts_path do |form| %>
    <div>
      <%= form.submit %>
    </div>

    <div id="container_image_and_tag_all">
      <% @posts.each do |post| %>
          <div id="<%= dom_id post %>" class="container_image_and_tag">
            <% if post.images.attached? %>
                <div class="container_image">
                  <%= image_tag post.images[0].variant(:thumb).processed.url %>
                </div>
                <div class="container_tag">
                  <%= form.text_area "post[#{post.id}]", value: post.tag, name: ""  %>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @posts %>

