<% provide(:title, "一括タグ付け") %>

<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= javascript_import_module_tag "tagToMultipleImage" %>
<% end %>

<div id="container_input_tag">
  <% @tags.each do |tag| %>
    <input type="button" value="<%= tag.tag %>" class="tag">
  <% end %>
</div>

<div id="posts">
  <%= form_with url:create_multiple_posts_path do |form| %>
    <div>
      <%= form.submit %>
    </div>

    <div id="container_image_and_tag_all">
      <% @posts.each do |post| %>
          <div id="<%= dom_id post %>" class="container_image_and_tag">
            <% if post.images.attached? %>
                <div class="container_image">
                  <%= image_tag post.images[0].variant(:thumb).processed.url %>
                </div>
                <div class="container_tag">
                  <%= form.text_area "post[#{post.id}]", value: post.tag, name: ""  %>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  <% end %>
</div>



