<p style="color: green"><%= notice %></p>

<%= render @secret_phrase %>

<div>
  <%= link_to "Edit this secret phrase", edit_secret_phrase_path(@secret_phrase) %> |
  <%= link_to "Back to secret phrases", secret_phrases_path %>

  <%= button_to "Destroy this secret phrase", @secret_phrase, method: :delete %>
</div>
