<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/df93f07d48.js" crossorigin="anonymous"></script>
    <%= yield(:head) %>
  </head>
  <body>
    
    <% if @current_user %>
      <div class="nav_bar">
        <%= link_to photo_path, class:"menu_title_photo" do %>
          <i class="fa-regular fa-image"></i><span>photo<span>
        <% end %>
        <%= link_to sharedphoto_path, class:"menu_title_photo" do %>
          <i class="fa-regular fa-image"></i><span>shared<br>photo<span>
        <% end %>
        <%= link_to upload_path, class:"menu_title_upload" do %>
          <i class="fa-solid fa-square-plus"></i><span>upload</span>
        <% end %>
        <%= link_to edittag_path, class:"menu_title_edittag" do %>
          <i class="fa-solid fa-tags"></i><span>edit<br>tag</span>
        <% end %>
        <%= link_to tagto_path, class:"menu_title_tagto" do %>
          <i class="fa-solid fa-tags"></i><span>tag_to<br>photo</span>
        <% end %>
        <%= link_to setting_path, class:"menu_title_setting" do %>
          <i class="fa-solid fa-gear"></i><span>setting</span> 
        <% end %>
        <%= link_to "/logout", class:"menu_title_logout" ,data: { turbo_method: :post } do %>
          <i class="fa-solid fa-right-from-bracket"></i><span>log<br>out</span> 
        <% end %>
      </div>     
    <% end %>

    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.svg" %>
      <% end %>
    </div>

    <div class="notice">
      <%= flash[:notice] %>
    </div>
    
    <%= yield %>
  </body>
</html>
